<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>You have beautiful thighs!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="wrapper">
      <div class="hero">
        <div class="hero-inner">
          <h1>Openmaize</h1>
          <h2>Authentication and authorization library for Elixir</h2>
        </div>
      </div>

      <div class="container">
        <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-error"><%= get_flash(@conn, :error) %></p>

        <div id="root">
          <div class="aside">
            <ul>
              <li><a href="<%= page_path @conn, :index %>">Home</a></li>
              <li><a href="<%= user_path @conn, :index %>">Users</a></li>
              <li><a href="<%= admin_path @conn, :index %>">Admin</a></li>
                <%= if @current_user == nil do %>
                <li><a href="<%= login_path @conn, :login %>">Login</a></li>
                <%= else %>
                <li><a href="<%= user_path(@conn, :show, @current_user[:id]) %>"><%= @current_user[:name] %></a></li>
                <li><a href="<%= logout_path @conn, :logout %>">Logout</a></li>
                <%= end %>
            </ul>
          </div>

          <div class="article">
            <%= @inner %>
          </div>
        </div>
      </div>
      <div class="push"></div>
    </div>

    <footer>
      <div class="left-col">
        <ul>
          <li>
            <a href="http://hexdocs.pm/openmaize">Openmaize docs</a>
          </li>
          <li>
            <a href="http://phoenixframework.org/docs/overview">Phoenix guides</a>
          </li>
          <li>
            <a href="http://hexdocs.pm/phoenix">Phoenix docs</a>
          </li>
        </ul>
      </div>
      <div class="right-col">
        <ul>
          <li>
            <a href="http://elixir-lang.org">Elixir language</a>
          </li>
          <li>
            <a href="http://groups.google.com/group/elixir-lang-talk">Elixir mailing list</a>
          </li>
          <li>
            <a href="http://groups.google.com/group/phoenix-talk">Phoenix mailing list</a>
          </li>
        </ul>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
