footer
  height: 200px
  section-center(false)
  +mobile()
    height: 350px
  color: $lightbg
  background: linear-gradient(top, gray, $steelblue)
  border-top: 1px solid darken($steelblue, 10%)
  box-shadow: 0px 1px 0px #fff
  .footer-col
    col(1/2)
    +mobile()
      stack()
    ul
      linklist()

.push
  height: 200px
  +mobile()
    height: 350px
