footer
  height: 150px
  padding: 40px
  color: $offwhite
  background: linear-gradient(top, $steelblue, gray)
  .left-col
    col(1/2)
    listnone()
    a
      link(@color, true)
  .right-col
    col(1/2)
    listnone()
    a
      link(@color, true)
