.hero
  position: relative
  overflow: hidden
  margin-bottom: 40px
  background: linear-gradient(top, gray, $steelblue)
  height: 350px
  +desktop()
    height: 450px

.hero-inner
  color: $background
  position: absolute
  margin: 80px
  font-style: oblique
  font-weight: bold
  +mobile()
    margin: 40px
