#root
  center()
  margin-bottom: 40px
  +desktop()
    center(pad: 60px)
  .aside
    col(1/4)
    ul
      list-style: none
      li
        display: block
        margin: 0 0 10px 0
        font-size: 18px
    +below(767px)
      stack()
      ul
        center()
        li
          display: inline
          margin: 0 15px

  .article
    col(3/4)
    +below(767px)
      stack()
