$body-bg = #fff
$text-color = #333

$offwhite = #e8e8e8
$rederror = #f2dede
$blueinfo = #d9edf7

$padding-base-vertical = 6px
$padding-base-horizontal = 12px
$font-size-base = 14px
$input-width = 250px
$input-color = #555
$input-bg = #fff
$input-border = #ccc
$input-border-radius = 4px

$table-bg = transparent
$table-cell-padding = 8px
$table-border-color = #ddd
