@require 'nib'
@require 'jeet'

.hero
  position relative
  height 350px
  overflow hidden

.hero
  img
    span(1/1)
    height 350px

.hero-inner
  color #e8e8e8
  position absolute
  margin 80px
  font-style oblique
  font-weight bold
