@require 'nib'
@require 'jeet'
@require 'rupture'
@require '_variables'
@require './components/*'
@require './layouts/*'

html,
body
  height: 100%

body
  background-color: $background

.wrapper
  min-height: 100%
  margin 0 auto -150px

a
  link($steelblue)

.container
  padding: 0 20px

.btn
  glossy-button()
  click-shrink()
.btn-danger
  glossy-button(red, "small")

.text-right
  text-align: right
