@require 'nib'
@require 'jeet'
@require 'rupture'

#root
  center(960px)
  .aside
    col(1/4)
    ul
      list-style none
      li
        display block
        margin 0 0 10px 0
    +below(600px)
      stack()
      ul
        center(200px)
        li
          display inline
          margin 0 15px 0 0

  .article
    col(3/4)
    +below(600px)
      stack()
